html {
  font-size: 5.5vh;
  margin: 1rem;
}
body {
  font-family: "メイリオ", Meiryo, "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "ＭＳ Ｐゴシック", "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif;
}
.my-box {
  display: block;
  background: #aad852;
  height: 0.7rem;
}
#logo {
  text-align:center;
}
figure.image {
  display: flex;
  justify-content: center;
}
.columns .message {
  font-size: 0.8rem;
}
.message {
  overflow: hidden;
  height: 20vh;
}
.message-body {
  margin: 0 !important;
  padding: 0 !important;
  border-color: rgba(0,0,0,0) !important;

  animation-name: scroll;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

pre {
  font-size: 1.0rem;
  word-wrap : break-word;
  overflow-wrap : break-word;
  padding: 0;
  width: 100%;
  background-color: rgba(0,0,0,0)!important;
}
@keyframes scroll {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(-100%);
  }
}
.omachi {
  margin-bottom: 0.5rem !important;
}
