<html> 
  <head> 
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css" />
    <link rel="stylesheet" href="display.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.21/dist/vue.js"></script>
    <title>はまぐち皮膚科</title>
    <script>
      const url = "<?= $url ?>";
    </script>
  </head>
  <body class="hero">
    <div class="my-box"></div>
    <div id="app" style="text-align: center">

      <div v-if="state.accepting">
          <div class="title is-size-5 omachi"> スタッフが声をおかけしますのでお待ち下さい </div> 
        <div v-if="state.calling > 0" >
          <span class="title is-size-3">呼出中</span>
          <span class="title tag is-large is-size-2" style="background: #9cdb31; color:white">
            <span class="is-size-1">{{state.calling}}</span>
          </span>
        </div>
        <div v-else>
          <span class="title is-size-5">少々お待ちください</span> 
        </div>
        <div class=" is-size-6" style="margin-top: 0.5rem;">
          <span v-if="huzai.length > 0" class="title is-size-6" >
            順番が過ぎている方:　{{huzai.map(c => c.id).join(",　")}}
          </span> <br>

        </div>
      </div>
      <div v-else>
        <span class="title is-size-3">本日は終了しました</span>
      </div>
      <div class="columns is-centered" style="width: 100%; margin: 0">
        <div class="column is-half" v-show="state.accepting">
          <article class="message is-light">
            <div class="message-body" v-html="today"></div>
          </article>
        </div>
        <div class="column is-half">
          <article class="message is-light">
            <div class="message-body" v-html="always"></div>
          </article>
        </div>
      </div>
    </div>
    <figure class="image" >
      <img src="logo.jpg" style="width: 30%; object-fit:contain">
    </figure>
    <div class="my-box"></div>
    <script src="display.js"></script>
  </body>
</html>
