@import "~bulma/sass/utilities/_all";
// Set your colors
$primary: darken(#42b500, 10%);
$primary-invert: findColorInvert($primary);
$twitter: #4099ff;
$twitter-invert: findColorInvert($twitter);

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
//prettier-ignore
$colors: (
    "white": ($white, $black),
    "black": ($black, $white),
    "light": ($light, $light-invert),
    "dark": ($dark, $dark-invert),
    "primary": ($primary, $primary-invert),
    "info": ($info, $info-invert),
    "success": ($success, $success-invert),
    "warning": ($warning, $warning-invert),
    "danger": ($danger, $danger-invert),
    "twitter": ($twitter, $twitter-invert)
);

// Links
$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;

$navbar-breakpoint: $fullhd;
//bug https://github.com/jgthms/bulma/issues/2171
$navbar-height: 3.25rem;

//tabのspanのheigtと、tabの中のli>aのpaddingをあわせてtabの高さになる
//li > a のpaddingはtopとbottomで0.5em よって1emを引けばいい
//ここでのliは特に指定がないので、親要素のis-largeになるので、$size-largeを引けば良い
$tab-height: $size-large * 1.5 + $size-large; // span と li>a padding top,bottom
$tab-content-height: calc(100vh - #{$navbar-height + $tab-height});
$operation-view-height: 25vmin;

$card-table-height: 3rem;
